.root {
}

.blurred {
  filter: blur(3px);
}

.progress-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  filter: blur(0px);
}

.progress-spinner {
  width: 100px;
  height: 100px;
  position: absolute;
  top: ~'calc(40vh - 50px)';
  left: ~'calc(50vw - 50px)';
  filter: blur(0px);
}
