.statistics-page-container {
  text-align: center;
}

.statistic-tab-bar {
  margin: auto;
  width: 100%;

}

.generic-tab {
  width: 90vw;
  height: 90vh;
}

.metrics-monitoring-tab {
  .generic-tab
}

:host ::ng-deep .mat-tab-labels {
  justify-content: center; /* align items in Main Axis */
}
