@import "../../../common";

.newCategoryDialogContainer {
  text-align: center;
}

.new-category-form {
  text-align: center;
}

.dialog-actions {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.category-dialog-form-field {
  width: 85%;
  margin: auto;
}

.category-description-input {
  height: 40px;
}

.color-form-field {
  .category-dialog-form-field;
  margin-top: @normal-margin;
}

::ng-deep .arrow {
  visibility: hidden;
}

.attributes-header {
  margin-top: @small-margin;
  font-weight: 500;
  letter-spacing: 0.03em;
}

.attributes-table {
  width: 100%;
}

th {
  .text-center;
}

.add-attribute-button {
  display: block;
  margin: auto auto @small-margin;
}

.category-color-picker {
  .rounded-color-picker;
}
