<div class="pie-chart-root">
  <canvas [chartType]="pieChartType"
          [data]="pieChartData"
          [labels]="pieChartLabels"
          [legend]="pieChartLegend"
          [options]="pieChartOptions"
          [plugins]="pieChartPlugins"
          baseChart>
  </canvas>
  <mat-card class="pie-chart-root__filters-bar">
    <mat-card-title>
      <h2>Time filtering</h2>
    </mat-card-title>
    <mat-card-content>
      <div>
        <ng5-slider [(highValue)]="sliderMaxValue" [(value)]="sliderMinValue" [options]="options"></ng5-slider>
      </div>
    </mat-card-content>
  </mat-card>
</div>
