<div class="pie-chart-root">
  <div style="display: block;">
    <canvas [chartType]="pieChartType"
            [data]="pieChartData"
            [labels]="pieChartLabels"
            [legend]="pieChartLegend"
            [options]="pieChartOptions"
            [plugins]="pieChartPlugins"
            baseChart>
    </canvas>
  </div>
  <mat-card class="pie-chart-root__filters-bar">
    <mat-card-title>
      <h2>Time filtering</h2>
    </mat-card-title>
    <mat-card-content>
      <div>
        <app-date-slider
          (changedRange)="onTimeSliderValueChanged($event)"
          [maxDate]="timeSliderMaxDate" [minDate]="timeSliderMinDate"></app-date-slider>
      </div>
    </mat-card-content>
  </mat-card>
</div>
