<div class="metrics-monitoring-root">
  <div class="metrics-monitoring-root__content">
    <mat-card class="metrics-monitoring-root__content__config-bar">
      <mat-card-title>
        <h2 class="metrics-monitoring-root__content__config-bar__header">Configuration</h2>
      </mat-card-title>
      <mat-card-content>
        <div class="metrics-monitoring-root__content__config-bar__main-section">
          <div class="metrics-monitoring-root__content__config-bar__main-section__metric-selector">
            <mat-form-field>
              <mat-label>Choose metric</mat-label>
              <mat-select #metricConfigurationSelector>
                <mat-option *ngFor="let config of configuration" [value]="config">{{config.attribute.name}}</mat-option>
              </mat-select>
              <mat-hint>Select & configure</mat-hint>
            </mat-form-field>
          </div>
          <div *ngIf="metricConfigurationSelector.value"
               class="metrics-monitoring-root__content__config-bar__main-section__metric-configuration">
            <mat-slide-toggle
              [(ngModel)]="metricConfigurationSelector.value.isDisplayed"
              class="extra-small-y-margin"
              matTooltip="Should metric be shown on the chart"
            >Display metric
            </mat-slide-toggle>
            <mat-slide-toggle
              [(ngModel)]="metricConfigurationSelector.value.isNormalized"
              class="extra-small-y-margin"
              #isNormalizedSlideToggle matTooltip="Convert metrics values to %">
              Normalize metric
            </mat-slide-toggle>
            <mat-form-field class="extra-small-y-margin">
              <mat-label>Aggregation function</mat-label>
              <mat-select
                #aggregationFunctionSelect
                [(ngModel)]="metricConfigurationSelector.value.aggregationFunction"
                required>
                <mat-option *ngFor="let aggregationFunction of aggregationFunctions"
                            [value]="aggregationFunction">{{aggregationFunction.name}}</mat-option>
              </mat-select>
              <mat-hint>{{aggregationFunctionSelect.value ? aggregationFunctionSelect.value.description : 'The way data are aggregated'}}</mat-hint>
            </mat-form-field>
            <mat-form-field *ngIf="isNormalizedSlideToggle.checked" class="extra-small-y-margin">
              <mat-label>Normalization function</mat-label>
              <mat-select
                #normalizationFunctionSelect
                [(ngModel)]="metricConfigurationSelector.value.normalizationFunction" required>
                <mat-option *ngFor="let normalizationFunction of normalizationFunctions"
                            [value]="normalizationFunction">{{normalizationFunction.name}}</mat-option>
              </mat-select>
              <mat-hint>{{normalizationFunctionSelect.value ? normalizationFunctionSelect.value.description : 'The way data are normalized'}}</mat-hint>
            </mat-form-field>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button (click)="onConfigurationApply($event)" mat-stroked-button>Apply</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="metrics-monitoring-root__line-chart">
    <ngx-charts-line-chart
      [curve]=""
      [legend]="lineChartOptions.legend"
      [results]="data"
      [showXAxisLabel]="lineChartOptions.showXAxisLabel"
      [showYAxisLabel]="lineChartOptions.showYAxisLabel"
      [timeline]="lineChartOptions.timeline"
      [xAxisLabel]="lineChartOptions.xAxisLabel"
      [xAxis]="lineChartOptions.xAxis"
      [yAxisLabel]="lineChartOptions.yAxisLabel"
      [yAxis]="lineChartOptions.yAxis"
    >
      <!--(select)="onSelect($event)"
      (activate)="onActivate($event)"
      (deactivate)="onDeactivate($event)"-->
    </ngx-charts-line-chart>
  </div>
</div>
