@import "../../../common";

.metrics-monitoring-root {
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;

  &__content {
    margin: auto @normal-margin;

    &__config-bar {
      margin: auto;
      max-width: 500px;

      &__header {
        .text;
      }

      &__main-section {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: start;

        &__metric-selector {
          margin-right: @big-margin;
        }

        &__metric-configuration {
          display: flex;
          flex-flow: column nowrap;
          justify-content: center;
          align-items: flex-start;
          align-content: flex-start;
        }
      }
    }
  }
}

.line-chart {
  width: 90%;
  //width: ~'max(90vw, ';
  //height: 50vh;
  //height: ~'calc(90vh - 280px)';
}
/*
@media screen and (max-device-height: 700px) {
  .line-chart {
    width: 90vw;
    height: 50vh;
  }
}
*/

