<h2 class="text-center">Event</h2>
<mat-dialog-content>
  <form class="event-form">
    <mat-form-field class="event-form__form-field">
      <mat-label>Name</mat-label>
      <input
        #eventNameInput
        [formControl]="eventNameFormControl"
        matInput
        placeholder="Cardio working-out #3"
        required
        type="text">
      <mat-hint aling="start"><strong>Avoid long names. Less is more</strong></mat-hint>
      <mat-hint align="end">{{eventNameInput.value.length}}/{{eventNameMaxLength}}</mat-hint>
      <mat-error *ngIf="eventNameFormControl.invalid && eventNameFormControl.touched">
        {{eventNameValidationErrorMessage}}
      </mat-error>
    </mat-form-field>
    <mat-form-field class="event-form__form-field">
      <mat-label>Description</mat-label>
      <textarea
        class="event-form__description-input"
        matInput
        placeholder="Working out was good, but there is some strange heartache. Maybe, it is needed to visit a doctor..."></textarea>
      <mat-hint><strong>No limits</strong></mat-hint>
    </mat-form-field>

    <mat-divider class="event-form__divider-line"></mat-divider>

    <h3 class="event-form__section-header">Event details</h3>
    <section class="event-form__event-detail-section">
      <span>
        <b class="event-form__event-detail-section__text mat-typography">Creation time: 01/01/2020 10:12</b>
      </span>
    </section>
    <section class="event-form__event-detail-section">
      <span>
        <b class="event-form__event-detail-section__text mat-typography">Last modified: 01/01/2020 10:12</b>
      </span>
    </section>
    <section class="event-form__event-detail-section">
      <mat-form-field appearance="outline" class="event-form__small-form-field">
        <mat-label>Event date & time</mat-label>
        <input
          [formControl]="eventDateFormControl"
          [owlDateTime]="dt10"
          [selectMode]="'range'"
          matInput
          required>
        <owl-date-time #dt10></owl-date-time>
        <mat-icon [owlDateTimeTrigger]="dt10" matSuffix>calendar_today</mat-icon>
        <mat-error *ngIf="eventDateFormControl.invalid && eventDateFormControl.touched">
          {{eventDateValidationErrorMessage}}
        </mat-error>
      </mat-form-field>
    </section>
    <section class="event-form__attachment-section event-form__event-detail-section">
      <ngx-file-drop
        [multiple]="true"
        [showBrowseBtn]="true"
        browseBtnClassName="attachment-form-browse-button"
        contentClassName="attachment-form-area-content"
        dropZoneClassName="attachment-form-drop-zone"
        dropZoneLabel="Drop attachments here"></ngx-file-drop>
    </section>
    <h3 class="event-form__section-header">Event structure</h3>
    <mat-form-field class="event-form__small-form-field">
      <mat-label>Category</mat-label>
      <mat-select
        #eventCategorySelect
        [formControl]="eventCategoryFormControl"
        required>
        <mat-option *ngFor="let category of categories$ | async" [value]="category">{{category.name}}</mat-option>
      </mat-select>
      <mat-error *ngIf="eventCategoryFormControl.invalid && eventCategoryFormControl.touched">
        {{eventCategoryValidationErrorMessage}}
      </mat-error>
    </mat-form-field>
    <app-tags></app-tags>
    <ng-container *ngIf="eventCategorySelect.value && eventCategorySelect.value.attributes.length > 0">
      <h3 class="event-form__section-header">Metrics</h3>
      <section *ngFor="let attribute of eventCategorySelect.value.attributes" class="event-form__event-detail-section">
        <app-parameter (parameterFormControl)="addParameterFormControl($event)" [attribute]="attribute"></app-parameter>
      </section>
    </ng-container>
  </form>
</mat-dialog-content>
<mat-dialog-actions class="dialog-actions">
  <button color="warn" mat-button mat-dialog-close>Cancel</button>
  <button [disabled]="formGroup.invalid" [mat-dialog-close]=""
          color="primary" mat-button>Create
  </button>
</mat-dialog-actions>
