@import "../../../common";
@import "../../../colors";

.event-form {
  text-align: center;

  &__form-field {
    width: 85%;
    margin: auto;
  }

  &__small-form-field {
    width: ~'min(210px, 70vw)';
    margin: auto;
  }

  &__divider-line {
    margin: 10px auto;
    width: 85%;
  }

  &__description-input {
    height: 80px;
  }

  &__section-header {
    margin-top: @small-margin;
    font-weight: 500;
    letter-spacing: 0.03em;
  }

  &__event-detail-section {
    width: 85%;
    text-align: center;
    margin: auto;
    margin-bottom: @extra-small-margin;

    &__text {
      color: black;
    }

    &__attachment-form {
      &__drop-zone {
        border: medium dashed blue;
        height: 200px;
      }

      &__browse-button {
        display: block;
      }

      &__area-content {
        height: 100%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-around;
        align-items: center;
      }
    }
  }
}
