@import "../../../common";

.new-attribute-form {
  text-align: center;
}

.attribute-dialog-form-field {
  width: 85%;
  margin: 10px auto auto;
}

.attribute-description-input {
  height: 40px;
}

.dialog-actions {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.constraints-header {
  margin-top: @small-margin;
  font-weight: 500;
  letter-spacing: 0.03em;
}
