<div class="container">
  <h1 class="events-header">Events</h1>
  <app-search-bar (valueChanged)="onSearchQueryChanged($event)"></app-search-bar>
  <button
    (click)="openCreateNewEventDialog()"
    class="block-centered-button"
    color="primary"
    mat-raised-button>New
  </button>
  <mat-divider class="container__divider"></mat-divider>
  <section class="events-section">
    <app-event-card
      *ngFor="let event of paginatedEvents$ | async"
      [event]="event" class="container__event-card"></app-event-card>
  </section>
  <mat-paginator (page)="onPageFired($event)"
                 [length]="(filteredEvents$ | async ).length"
                 [pageSizeOptions]="[5, 10, 25, 100]"
                 [pageSize]="defaultPageSize">
  </mat-paginator>
</div>
