<form (ngSubmit)="onFormSubmit()" [formGroup]="form" action="" class="login-form">
  <h1>Sign in to Biograph</h1>
  <mat-divider class="divider-line"></mat-divider>

  <mat-form-field appearance="outline" class="login-form-field">
    <mat-label>Enter your email</mat-label>
    <input [(ngModel)]="email" formControlName="email" matInput placeholder="username@example.com" type="email">
    <mat-icon matSuffix>send</mat-icon>
    <mat-error *ngIf="emailField.invalid">
      {{getEmailValidationErrorMessage()}}
    </mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline" class="login-form-field">
    <mat-label>Enter your password</mat-label>
    <input [(ngModel)]="password" formControlName="password" matInput type="password">
    <mat-icon matSuffix>lock</mat-icon>
    <mat-error *ngIf="passwordField.invalid">
      {{getPasswordValidationErrorMessage()}}
    </mat-error>
  </mat-form-field>
  <mat-divider class="divider-line"></mat-divider>

  <button [disabled]="form.invalid" color="primary" mat-raised-button type="submit">Sign in</button>
</form>
