@import "../../common";

.container {
  text-align: center;
}

.categories-header {
  .header;
  margin-top: @normal-margin;
}

.categories-table {
  width: 100%;
  margin-top: @normal-margin;
}

.mat-cell {
  text-align: center;
}

.create-category-button {
  display: block;
  margin: auto;
}

::ng-deep .mat-sort-header-container {
  justify-content: center;
  /* The missing piece */
  margin-right: -18px;
}

.search-bar {
  margin: auto;
}

.category-color-picker {
  @picker-diameter: 25px;
  @picker-radius: @picker-diameter / 2;
  width: @picker-diameter;
  height: @picker-diameter;
  border-radius: @picker-radius;
  border: solid transparent;
}
