@import "../../common";

.container {
  text-align: center;
}

.categories-header {
  .header;
  margin-top: @normal-margin;
}

.categories-table {
  width: 100%;
  margin-top: @normal-margin;
}

.mat-cell {
  text-align: center;
}

.create-category-button {
  display: block;
  margin: auto;
}

::ng-deep .mat-sort-header-container {
  justify-content: center;
  /* The missing piece */
  margin-right: -18px;
}

.search-bar {
  margin: auto;
}

.categories-actions-th {
  .text-center;
  width: 120px;
}

.categories-actions-td {
  width: 120px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: center;
  align-items: center;
}

.category-color-picker {
  @picker-diameter: 25px;
  width: @picker-diameter;
  height: @picker-diameter;
  border-radius: 50%;
  border: solid transparent;
}
