<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <link href="style.css" rel="stylesheet">
    <title>Biograph</title>
</head>
<body>
<h1>Welcome to Biograph project</h1>
<form action="/api/storage/connect" method="post">
    <span>[JUST FOR QUICK TEST] Input your user id here:</span><input min="1" name="userId" required type="number">
    <input name="provider" type="hidden" value="google">
    <br>
    <input type="submit" value="Connect with google">
</form>
<hr>
<h2>Upload file to application specific folder on your Google Drive</h2>
<form action="/api/storage/uploadFile" enctype="multipart/form-data" method="post">
    <input id="fileupload" name="file" required type="file"/>
    <br>
    <input id="submit" type="submit" value="submit"/>
</form>
<hr>
<h2>List already uploaded files</h2>
<span>Click <a href="/api/storage/listFiles">here</a> to view files that Biograph stores on your Google Drive</span>
</body>
</html>