<mat-card [style]="'border-top-color: ' + event.category.color" class="event-card">
  <mat-card-header class="event-card__header">
    <mat-card-title>{{event.name}}</mat-card-title>
    <mat-card-subtitle>Category: {{event.category.name}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="event-card__description-content">
    <p>{{event.description || 'No description provided' }}</p>
  </mat-card-content>
  <mat-card-content *ngIf="event.tags && event.tags.length > 0" class="event-card__content">
    <mat-chip-list class="event-card__chip-list">
      <mat-basic-chip
        *ngFor="let tag of event.tags"
        [matTooltip]="tag.description"
        [style]="'border-right-color: ' + tag.color + ';'"
        class="event-card__tag-chip"
        disabled="true"
        selected>{{tag.name}}</mat-basic-chip>
    </mat-chip-list>
  </mat-card-content>
  <mat-card-actions class="event-card-actions">
    <button
      class="event-card-action-button"
      color="primary"
      mat-icon-button
      matTooltip="View event">
      <mat-icon>open_in_new</mat-icon>
    </button>
    <div class="event-card-actions__stub"></div>
    <button
      class="event-card-action-button"
      color="warn"
      mat-icon-button
      matTooltip="Delete event">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
